* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.upper-container {
    width: 100vw;
    height: 10vh;
    background-color: rgb(49, 117, 219);
    display: flex;
    align-items: center;
}

.data-container{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.material-icons {
    font-size: 2.5rem;
    color: white;
    
}

.arrow-btn {
    margin-left: 30px;
}

.arrow-btn:hover {
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(34, 105, 192);
}
.media-container{
    height: 26vh;
    width: 13vw;
    border: 3px rgb(236, 224, 224) solid;
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
    margin-bottom: 2rem;
}

.media{
    height:calc(26vh - 6px);
    width:calc(13vw - 6px);
}

.media > *{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.material-icons.download-btn{
    font-size:xx-large;
}
.download-btn{
    position: absolute;
    bottom: 3px;
    margin-left: 5px;
    padding: 4px;
}
.download-btn:hover{
    border-radius: 30px;
    background-color: rgba(37, 37, 37, 0.438);
    cursor: pointer;
}

.material-icons.delete-btn{
    font-size:xx-large;
}
.delete-btn{
    position: absolute;
    bottom: 3px;
    right: 5px;
    padding: 4px;
}
.delete-btn:hover{
    border-radius: 30px;
    background-color: rgba(37, 37, 37, 0.384);
    cursor: pointer;
}