* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.upper-container {
    width: 100vw;
    height: 10vh;
    background-color: rgb(49, 117, 219);
    display: flex;
    align-items: center;
}

.data-container{
    width: 100vw;
    min-height: 100vh;
}

.material-icons {
    font-size: 2.5rem;
    color: white;
    
}

.arrow-btn {
    margin-left: 30px;
}

.arrow-btn:hover {
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(34, 105, 192);
}